.frame{
	position: relative;
	left: 200pt;
	top: 200pt;
	width: 5cm;
	height: 5cm;
}

#frameimage{
	width:5cm;
	height:5cm;
}

.screen{
	position: absolute;
	width: 135pt;
	height: 142pt;
	top: 0pt;
	left: 0pt;
}

#screenimage{
	width: 80%;
	height: 80%;
	position: absolute;
	top: 13pt;
	left: 14pt;
}

.fowardbutton{
	position: absolute;
	top: 23pt;
	left: 135pt;
	width: 7pt;
	height: 25pt;
}

.backbutton{
	position: absolute;
	top: 93pt;
	left: 135pt;
	width: 7pt;
	height: 25pt;
}

#clock{
	position: absolute;
	top: 34pt;
	left: 42pt;
	font-size: 23pt;
	font-family: "Myriad Pro";
}
