.frame{
	position: relative;
	left: 200pt;
	top: 200pt;
	width: 7cm;
	height: 7cm;
}

#frameimage{
	width: 5.9cm;
	height: 5.9cm;
}

.screen{
	position: absolute;
	width: 159pt;
	height: 168pt;
	top: 0pt;
	left: 0pt;
}

#screenimage{
	width: 80%;
	height: 80%;
	position: absolute;
	top: 13pt;
	left: 14pt;
}

.fowardbutton{
	position: absolute;
	top: 29pt;
	left: 160pt;
	width: 7pt;
	height: 25pt;
}

.backbutton{
	position: absolute;
	top: 113pt;
	left: 160pt;
	width: 7pt;
	height: 25pt;
}

#clock{
	position: absolute;
	top: 34pt;
	left: 42pt;
	font-size: 23pt;
	font-family: "Myriad Pro";
}
