.citylist{
	text-align: center;
  position: absolute;
  left: 11pt;
  width: 127pt;
  height: 28pt;
}

#previouscity{
	font-size: 17pt;
	top: 12pt;
	color: rgb(60, 60, 60);
}

#selectedcity{
	font-size: 23pt;
	top: 44pt;
}

#nextcity{
	font-size: 17pt;
	top: 80pt;
	color: rgb(60, 60, 60);
}

#cancelbutton{
	position: absolute;
	top: 120pt;
 	left: 13pt;
  font-size: 18pt;
}

#okbutton{
	position: absolute;
	top: 120pt;
 	left: 96pt;
  font-size: 18pt;
	color: black;
}

#previousarrow{
	position: absolute;
	top: 134pt;
	left: 4pt;
	height: 20pt;
	width: 20pt;
}

#nextarrow{
	position: absolute;
	top: 134pt;
	left: 127pt;
	height: 20pt;
	width: 20pt;
}
